In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df_train = pd.read_csv('train.csv')

In [19]:
df_test = pd.read_csv('test.csv')

In [5]:
df_train

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010.0,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12.0
1,44731507,16621,1018,CHEVROLET,Equinox,2011.0,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8.0
2,45774419,8467,-,HONDA,FIT,2006.0,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2.0
3,45769185,3607,862,FORD,Escape,2011.0,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0.0
4,45809263,11726,446,HONDA,FIT,2014.0,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9155,45810592,16778,765,CHEVROLET,Orlando,2015.0,Jeep,Yes,LPG,2,34328 km,4.0,Automatic,Front,04-May,Left wheel,Grey,4.0
9156,45068478,26657,777,MAZDA,CX-5,2014.0,Jeep,No,Petrol,2.5,101435 km,4.0,Automatic,Front,04-May,Left wheel,Black,10.0
9157,45686742,21953,1327,NISSAN,X-Terra,2011.0,Jeep,Yes,Petrol,4,79633 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,6.0
9158,45810532,22357,640,CHEVROLET,Orlando,2013.0,Jeep,Yes,Diesel,2,121042 km,4.0,Automatic,Front,04-May,Left wheel,White,4.0
9159,45768392,156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_train.isnull().sum()

ID                  0
Price               0
Levy                1
Manufacturer        1
Model               1
Prod. year          1
Category            1
Leather interior    1
Fuel type           1
Engine volume       1
Mileage             1
Cylinders           1
Gear box type       1
Drive wheels        1
Doors               1
Wheel               1
Color               1
Airbags             1
dtype: int64

In [7]:
df_train.shape

(9160, 18)

In [8]:
df_train.dropna(inplace=True)

In [9]:
df_train.isnull().sum()

ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [10]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9159 entries, 0 to 9158
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                9159 non-null   int64
 1   Price             9159 non-null   int64
 2   Levy              9159 non-null   object
 3   Manufacturer      9159 non-null   object
 4   Model             9159 non-null   object
 5   Prod. year        9159 non-null   float64
 6   Category          9159 non-null   object
 7   Leather interior  9159 non-null   object
 8   Fuel type         9159 non-null   object
 9   Engine volume     9159 non-null   object
 10  Mileage           9159 non-null   object
 11  Cylinders         9159 non-null   float64
 12  Gear box type     9159 non-null   object
 13  Drive wheels      9159 non-null   object
 14  Doors             9159 non-null   object
 15  Wheel             9159 non-null   object
 16  Color             9159 non-null   object
 17  Airbags           9159 non-null   float64
dtypes: float64(3), int64(2), object(13)
memory usage: 1.3+ MB

In [11]:
df_train.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010.0,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12.0
1,44731507,16621,1018,CHEVROLET,Equinox,2011.0,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8.0
2,45774419,8467,-,HONDA,FIT,2006.0,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2.0
3,45769185,3607,862,FORD,Escape,2011.0,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0.0
4,45809263,11726,446,HONDA,FIT,2014.0,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4.0

In [12]:
df_train.columns

Index(['ID', 'Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [21]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9159 entries, 0 to 9158
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                9159 non-null   int64
 1   Price             9159 non-null   int64
 2   Levy              9159 non-null   object
 3   Manufacturer      9159 non-null   object
 4   Model             9159 non-null   object
 5   Prod. year        9159 non-null   float64
 6   Category          9159 non-null   object
 7   Leather interior  9159 non-null   object
 8   Fuel type         9159 non-null   object
 9   Engine volume     9159 non-null   object
 10  Mileage           9159 non-null   object
 11  Cylinders         9159 non-null   float64
 12  Gear box type     9159 non-null   object
 13  Drive wheels      9159 non-null   object
 14  Doors             9159 non-null   object
 15  Wheel             9159 non-null   object
 16  Color             9159 non-null   object
 17  Airbags           9159 non-null   float64
dtypes: float64(3), int64(2), object(13)
memory usage: 1.3+ MB

In [18]:
df_train['Color'].value_counts()

Color
Black            2399
White            2127
Silver           1832
Grey             1114
Blue              650
Red               318
Green             148
Orange            114
Brown              90
Carnelian red      87
Beige              66
Golden             64
Sky blue           60
Yellow             58
Purple             20
Pink               12
Name: count, dtype: int64

In [15]:
df_train['Drive wheels'].value_counts()

Drive wheels
Front    6148
4x4      1923
Rear     1088
Name: count, dtype: int64

df_train['Doors'].value_counts()

In [17]:
df_train['Wheel'].value_counts()

Wheel
Left wheel          8424
Right-hand drive     735
Name: count, dtype: int64

In [16]:
df_train['Doors'].value_counts()

Doors
04-May    8711
02-Mar     391
>5          57
Name: count, dtype: int64

In [22]:
df_train['Gear box type'].value_counts()

Gear box type
Automatic    6446
Tiptronic    1454
Manual        880
Variator      379
Name: count, dtype: int64

In [23]:
df_train.columns

Index(['ID', 'Price', 'Levy', 'Manufacturer', 'Model', 'Prod. year',
       'Category', 'Leather interior', 'Fuel type', 'Engine volume', 'Mileage',
       'Cylinders', 'Gear box type', 'Drive wheels', 'Doors', 'Wheel', 'Color',
       'Airbags'],
      dtype='object')

In [24]:
X=df_train.drop(['Price'],axis=1)
y=df_train['Price']

In [27]:
X.drop(['ID','Manufacturer'],axis=1,inplace=True)

In [28]:
X.columns

Index(['Levy', 'Model', 'Prod. year', 'Category', 'Leather interior',
       'Fuel type', 'Engine volume', 'Mileage', 'Cylinders', 'Gear box type',
       'Drive wheels', 'Doors', 'Wheel', 'Color', 'Airbags'],
      dtype='object')

In [29]:
X.head()

,Levy,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,1399,RX 450,2010.0,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12.0
1,1018,Equinox,2011.0,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8.0
2,-,FIT,2006.0,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2.0
3,862,Escape,2011.0,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0.0
4,446,FIT,2014.0,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4.0

In [34]:
df_train['Mileage'].str.split(" ").replace("km","")

0       [186005, km]
1       [192000, km]
2       [200000, km]
3       [168966, km]
4        [91901, km]
            ...
9154    [106616, km]
9155     [34328, km]
9156    [101435, km]
9157     [79633, km]
9158    [121042, km]
Name: Mileage, Length: 9159, dtype: object

In [41]:
df_train['Milage']=pd.to_numeric(df_train['Mileage'].str.replace('km', ''))

In [50]:
df_train['Milage']=df_train['Milage'].astype(int)

In [56]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9159 entries, 0 to 9158
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                9159 non-null   int64
 1   Price             9159 non-null   int64
 2   Levy              9159 non-null   object
 3   Manufacturer      9159 non-null   object
 4   Model             9159 non-null   object
 5   Prod. year        9159 non-null   float64
 6   Category          9159 non-null   object
 7   Leather interior  9159 non-null   object
 8   Fuel type         9159 non-null   object
 9   Engine volume     9159 non-null   object
 10  Mileage           9159 non-null   int64
 11  Cylinders         9159 non-null   float64
 12  Gear box type     9159 non-null   object
 13  Drive wheels      9159 non-null   object
 14  Doors             9159 non-null   object
 15  Wheel             9159 non-null   object
 16  Color             9159 non-null   object
 17  Airbags           9159 non-null   float64
 18  Milage            9159 non-null   int64
dtypes: float64(3), int64(4), object(12)
memory usage: 1.4+ MB

In [57]:
df_train['Milage']

0       186005
1       192000
2       200000
3       168966
4        91901
         ...
9154    106616
9155     34328
9156    101435
9157     79633
9158    121042
Name: Milage, Length: 9159, dtype: int64

In [59]:
X['Mileage'] = pd.to_numeric(X['Mileage'].str.replace('km', ''), errors='coerce')
X['Mileage'] = X['Mileage'].fillna(0).astype(int)

In [60]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9159 entries, 0 to 9158
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Levy              9159 non-null   object
 1   Model             9159 non-null   object
 2   Prod. year        9159 non-null   float64
 3   Category          9159 non-null   object
 4   Leather interior  9159 non-null   object
 5   Fuel type         9159 non-null   object
 6   Engine volume     9159 non-null   object
 7   Mileage           9159 non-null   int64
 8   Cylinders         9159 non-null   float64
 9   Gear box type     9159 non-null   object
 10  Drive wheels      9159 non-null   object
 11  Doors             9159 non-null   object
 12  Wheel             9159 non-null   object
 13  Color             9159 non-null   object
 14  Airbags           9159 non-null   float64
dtypes: float64(3), int64(1), object(11)
memory usage: 1.1+ MB

In [61]:
X.head()

,Levy,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,1399,RX 450,2010.0,Jeep,Yes,Hybrid,3.5,186005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12.0
1,1018,Equinox,2011.0,Jeep,No,Petrol,3,192000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8.0
2,-,FIT,2006.0,Hatchback,No,Petrol,1.3,200000,4.0,Variator,Front,04-May,Right-hand drive,Black,2.0
3,862,Escape,2011.0,Jeep,Yes,Hybrid,2.5,168966,4.0,Automatic,4x4,04-May,Left wheel,White,0.0
4,446,FIT,2014.0,Hatchback,Yes,Petrol,1.3,91901,4.0,Automatic,Front,04-May,Left wheel,Silver,4.0

In [62]:
X.columns

Index(['Levy', 'Model', 'Prod. year', 'Category', 'Leather interior',
       'Fuel type', 'Engine volume', 'Mileage', 'Cylinders', 'Gear box type',
       'Drive wheels', 'Doors', 'Wheel', 'Color', 'Airbags'],
      dtype='object')

In [67]:
X['Engine volume'] = X['Engine volume'].str.replace(r'\D', '', regex=True)
X['Engine volume']=X['Engine volume'].astype(float)

In [74]:
# X['Levy'] = X['Levy'].str.replace(r'\D', '', regex=True)
# X['Levy'] = pd.to_numeric(X['Levy'], errors='coerce')
# X['Levy'] = X['Levy'].fillna(0).astype(int)

In [75]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9159 entries, 0 to 9158
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Levy              9159 non-null   int64
 1   Model             9159 non-null   object
 2   Prod. year        9159 non-null   float64
 3   Category          9159 non-null   object
 4   Leather interior  9159 non-null   object
 5   Fuel type         9159 non-null   object
 6   Engine volume     9159 non-null   float64
 7   Mileage           9159 non-null   int64
 8   Cylinders         9159 non-null   float64
 9   Gear box type     9159 non-null   object
 10  Drive wheels      9159 non-null   object
 11  Doors             9159 non-null   object
 12  Wheel             9159 non-null   object
 13  Color             9159 non-null   object
 14  Airbags           9159 non-null   float64
dtypes: float64(4), int64(2), object(9)
memory usage: 1.1+ MB

In [88]:
X.drop(['Model'],axis=1,inplace=True)

In [89]:
cat_features = X.select_dtypes(include='object').columns
num_features = X.select_dtypes(exclude='object').columns

In [90]:
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer

In [91]:
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop='first')

In [92]:
preprocessor=ColumnTransformer([
    ('OneHotEncoder',oh_transformer,cat_features),
    ('StandardScaler',numeric_transformer,num_features)
]
)

In [93]:
from sklearn.model_selection import train_test_split

In [111]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [112]:
X_train=preprocessor.fit_transform(X_train)

In [113]:
X_test = preprocessor.transform(X_test)

# Random Forest Regressor

In [114]:
from sklearn.metrics import r2_score

In [115]:
from sklearn.ensemble import RandomForestRegressor

In [116]:
models ={
    'Random Forest':RandomForestRegressor()
}
for i in range(len(list(models))):
  model = list(models.values())[i]
  model.fit(X_train,y_train)

  y_train_pred = model.predict(X_train)
  y_test_pred = model.predict(X_test)

  r2_train = r2_score(y_train_pred,y_train)
  r2_test =r2_score(y_test_pred,y_test)
  print(f'''Model - {i}''')
  print(f'''Train_accuracy:{r2_train}''')
  print(f'''Test_accuracy:{r2_test}''')

Model - 0
Train_accuracy:0.8875519771485687
Test_accuracy:0.5576254445867781

In [102]:
from sklearn.linear_model import LinearRegression

In [103]:
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Ridge,Lasso,ElasticNet

In [117]:
models ={
    'Linear regression':LinearRegression(),
    'Decision Tree':DecisionTreeRegressor(),
    'Ridge ':Ridge(),
    'Lasso':Lasso(),
    "Elastic Net":ElasticNet(),
    'SVR':SVR(),
    'Random Forest':RandomForestRegressor()
}
for i in range(len(list(models))):
  model = list(models.values())[i]
  model.fit(X_train,y_train)

  y_train_pred = model.predict(X_train)
  y_test_pred = model.predict(X_test)

  r2_train = r2_score(y_train_pred,y_train)
  r2_test =r2_score(y_test_pred,y_test)
  print(f'''{list(models.keys())[i]}''')
  print(f'''Train_accuracy:{r2_train}''')
  print(f'''Test_accuracy:{r2_test}''')

Linear regression
Train_accuracy:-2.8042940073422242
Test_accuracy:-1.3104145686015731
Decision Tree
Train_accuracy:0.9920692752482337
Test_accuracy:0.5139214606023158
Ridge
Train_accuracy:-2.81300506262639
Test_accuracy:-1.3164678854323029
Lasso
Train_accuracy:-2.8151545964742146
Test_accuracy:-1.317916931114774
Elastic Net
Train_accuracy:-17.913887250149884
Test_accuracy:-11.673938859243847
SVR
Train_accuracy:-24355.111777466656
Test_accuracy:-17739.547191715406
Random Forest
Train_accuracy:0.8768241754960927
Test_accuracy:0.5349720574620418

In [109]:
list(models.keys())[1]

'Decision Tree'